#nav1{
    color: rgb(226, 70, 43);
    margin-left: 600px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;

    
}
#nav2{
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    color: #ffffff;
}
#nav3{
    color: rgb(5, 5, 2);
    font-family: cursive;
}

#anime{
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color: rgb(228, 224, 220);
}
.fa-magnifying-glass{
    color: rgb(235, 232, 238);
}
.fa-user-plus{
    color:rgb(248, 245, 245);
}

#nav6{
    font-family: 'Times New Roman', Times, serif;
    background-color: chocolate;
    font-size: 150%;
    
    
}
#s1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    margin-left: 50px;
    color: #ffffff;
}
#s2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 800px;
    color: #ffffff;
}
#s3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin-left: 40px;
    color: #ffffff;
    
}
#s4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 60px;
    color: #ffffff;
}
#s5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    color: #ffffff;
}
.fa-star-half-stroke{
    color: darkorange;
}
#s7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    
    
}

#pp1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    margin-left: 50px;
    color: #ffffff;

}
#pp2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 650px;
    color: #ffffff;
}

#pp3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    margin-left: 100px;
    color: #ffffff;
    
}


 .ep {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	padding: 2px 12px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.comment {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

 .view {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
    .card-img-top {
      height: 200px;
      width: 150px;
      object-fit: cover;
    }
    .status-badge {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #dc3545;
      color: white;
      padding: 5px 10px;
      font-size: 0.8rem;
      border-radius: 5px;
      font-weight: bold;
    }
    .card-stats {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      background-color: #343a40;
      color:white;
      font-size: 0.9rem;
    }
    #pp6{
        font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 750px;
    color: #ffffff;
    }
    #pp7{
         font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 710px;
    color: #ffffff;
    
    }
    #ss1{
        margin-left: 100px;
        color: rgb(22, 16, 17);
        background-color: rgb(157, 136, 44);
    }
    #ss2{
         margin-left: 200px;
        color: rgb(22, 16, 17);
        background-color: rgb(157, 136, 44);
    }
    #ss3{
          margin-left:100px;
        font-family: 'Times New Roman', Times, serif;
       color: #ffffff;
       display: inline;
    }
    #ss4{
         margin-left:100px;
        font-family: 'Times New Roman', Times, serif;
       color: #ffffff;
       
    }
    
    #ak{
        margin-left: 50px;
       color: white;
        border-radius: 10px;
       
       
    }
    #ka{
        margin-left: 30px;
        border-radius: 10px;
         font-size: smaller;
    }
    #aak{
         border-radius: 10px;
         font-size: smaller;
         
    }

    .carousel-item {
      height: 100vh;
      min-height: 600px;
      background-size: cover;
      background-position: center;
      position: relative;
      color: white;
    }
    .carousel-caption {
      bottom: auto;
      top: 30%;
      left: 10%;
      text-align: left;
      max-width: 500px;
    }
    .carousel-caption .label {
      font-size: 14px;
      background: white;
      color: #e53637;
      padding: 5px 12px;
      display: inline-block;
      margin-bottom: 10px;
    }
    .carousel-caption h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .carousel-caption p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .carousel-caption .btn-custom {
      background: #e53637;
      color: rgb(241, 238, 238);
      padding: 12px 24px;
      font-weight: bold;
      border: none;
    }

    #v1{
        
    color: rgb(226, 70, 43);
    margin-left: 300px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    }
    
    #v2{
         margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    color: #ffffff;
    }
    #aak{
        color: rgb(91, 90, 89);
        font-size: 100%;
        margin-left: 60px;
    }
